
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>There was an error with your request.</h2>

<h3>click
    <a href="/password/index">HERE</a> to get a new pw reset request.</h3>